.pwd {
  width: 100%;
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  margin-top: 35px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eye-btn {
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.pwd-input {
  width: 100%;
  font-size: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  outline: none;
  height: 100%;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.input-pwd-zone {
  width: auto;
  height: 100%;
  width: 100%;
  margin-right: 10px;
}
