.blocks {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 7px;
}

.cnt {
  display: flex;
  justify-content: flex-start;
}

.text {
  margin-left: 5px;
  font-size: 13px;
  margin-top: 2px;
}

.block {
  width: 48px;
  background-color: #d9d9d9;
  border-radius: 2px;
}

.weak {
  background-color: red;
}

.good {
  background-color: orange;
}

.strong {
  background-color: green;
}

.weak-text {
  color: red;
}

.good-text {
  color: orange;
}

.strong-text {
  color: green;
}

.pwd-error {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 4px;
  font-size: 13px;
  color: red;
}
