openapi: 3.0.3
info:
  title: Swagger FarAway - OpenAPI 3.0
  description: |-
    Some useful links:
    - [The FarAway repository](https://github.com/Egor200313/FarAway)
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
servers:
  - url: https://faraway.tickets.com/api/v3
tags:
  - name: tickets
    description: Access to tickets purchased
  - name: search
    description: Operations about searching for flights
  - name: offers
    description: Best flight offer
paths:
  /search:
    get:
      tags:
        - search
      summary: Get available tickets by origin, destination and date
      description: ''
      operationId: getFlightsOnDate
      parameters:
        - name: from
          description: 'The origin airport code. DME for example'
          in: query
          required: True
          schema:
            type: string
            pattern: ^[A-Z]{3}$
        - name: to
          description: 'The destination airport code. DXB for example'
          in: query
          required: True
          schema:
            type: string
            pattern: ^[A-Z]{3}$
        - name: date
          description: 'Departure date'
          in: query
          schema:
            type: string
            pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flights'
      security:
        - faraway_auth:
            - read:search
  /tickets/{uid}:
    get:
      tags:
       - tickets
      summary: Get all users tickets
      description: ''
      operationId: getTicketByUser
      parameters:
        - name: uid
          required: true
          description: 'ID of user'
          in: path
          schema:
            type: integer
            format: uint64
      responses:
        '200':
          description: successfull operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flights'
        '404':
          description: invalid user id
  /offers/{dep_city}:
    get:
      tags:
        - offers
      summary: Get best price tickets from city
      description: ''
      operationId: getOffersFromCity
      parameters:
        - name: dep_city
          required: true
          description: 'Origin city of trip'
          in: path
          schema:
            type: string
      responses:
        '200':
          description: successfull operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offers'
        '404':
          description: invalid city of origin
components:
  schemas:
    Offer:
      type: object
      properties:
        id:
          type: integer
          format: uint64
          example: 100500
        city:
          type: string
          example: "New York"
        photo_url:
          type: string
          example: "new_york.jpg"
        departure_date:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
          example: "2024-02-28"
        arrival_date:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
          example: "2024-03-05"
      xml:
        name: offer
    Offers:
      type: array
      xml:
        name: offers
        wrapped: true
      items:
        $ref: '#/components/schemas/Offer'
    Route:
      type: object
      properties:
        id:
          type: integer
          format: uint64
          example: 4567
        origin:
          $ref: '#/components/schemas/Airport'
        destination:
          $ref: '#/components/schemas/Airport'
        duration_munites:
          type: integer
          format: uint64
          example: 300
      xml:
        name: route
    Airport:
      type: object
      properties:
        name:
          type: string
          pattern: ^[A-Z]{3}$
          example: "DME"
        city:
          type: string
          example: "Moscow"
        country:
          type: string
          example: "Russian Federation"
      xml:
        name: airport
    Flight:
      type: object
      properties:
        id:
          type: integer
          format: uint64
          example: 123456
        route:
          $ref: '#/components/schemas/Route'
        price:
          type: number
          example: 1000.50
        dep_time:
          type: string
          example: "2023-05-31T12:00:00+03:00"
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\+[0-9]{2}:[0-9]{2}$
        av_tickets:
          type: integer
          format: uint64
          example: 8
      xml:
        name: flight
    Flights:
      type: array
      xml:
        name: flights
        wrapped: true
      items:
        $ref: '#/components/schemas/Flight'
  securitySchemes:
    faraway_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://faraway.com/oauth/authorize
          scopes:
            read:search: search flights